<% include partials/header %>

<div class="container">
	<h1 style="text-align: center;">Leader Board</h1>
	<% leader.forEach(function(leader){ %> 
	<div class="well">
		<img src="<%= leader.image %>" class="img-circle" style="width: 40px;height: 40px;"> <h2><%= leader.name %>  ------------            <%= leader.likes %> likes</h2>
	</div>
<% }) %>
</div>




<% include partials/footer %>